<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name%>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name%>
  </div>

  <div class="mb-3">
    <%= f.label :religion, class:"form-label" %><br />
    <%= f.select :religion, ["Hindu", "Muslim", "Sikhs","Christian", "Jain"], class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :religion %><br />
    <%= f.select :religion, ["Hindu", "Muslim", "Sikhs","Christian", "Jain"] %>
  </div>

  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address%>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city%>
  </div>
  
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country%>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.number_field :postal_code%>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.number_field :phone_number%>
  </div>

  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.number_field :mobile_number%>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <%= f.radio_button :gender, "Male", class:"form-check-input", type:"radio" %>
      <%= f.label :gender_male, "Male", class:"form-check-label" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :gender, "Female", class:"form-check-input", type:"radio" %>
      <%= f.label :gender_female, "Female", class:"form-check-label" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-success"%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>

<%= link_to "Back", :back %>
