<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :first_name, class:"form-label" %><br />
    <%= f.text_field :first_name, id:"first_name", class:"form-control"%>
    <p id="first_name_error" style="color: red; display: none;">Please enter first name </p>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, class:"form-label" %><br />
    <%= f.text_field :last_name, id:"last_name",class:"form-control"%>
    <p id="last_name_error" style="color: red; display: none;">Please enter last name </p>
  </div>

  <div class="mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, id:"email", autocomplete: "email", class:"form-control" %>
    <p id="email_error" style="color: red; display: none;">Please enter email </p>
  </div>

  <div class="mb-3">
    <%= f.label :password, class:"form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", id:"password", class:"form-control" %>
    <p id="password_error" style="color: red; display: none;">Please enter password </p>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"passwordconf", class:"form-control" %>
    <p id="password_confirm_error" style="color: red; display: none;">Please enter password confirm </p>
  </div>

  <div class="mb-3">
    <%= f.label :religion, class:"form-label" %><br />
    <%= f.select :religion, ["Hindu", "Muslim", "Sikhs","Christian", "Jain"], class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :street_address, class:"form-label" %><br />
    <%= f.text_field :street_address, id:"street_address", class:"form-control"%>
    <p id="street_address_error" style="color: red; display: none;">Please enter street address </p>
  </div>

  <div class="mb-3">
    <%= f.label :city, class:"form-label" %><br />
    <%= f.text_field :city, id:"city", class:"form-control"%>
    <p id="city_error" style="color: red; display: none;">Please enter city </p>
  </div>

  <div class="mb-3">
    <%= f.label :country, class:"form-label" %><br />
    <%= f.text_field :country, id:"country", class:"form-control"%>
    <p id="country_error" style="color: red; display: none;">Please enter country </p>
  </div>

  <div class="mb-3">
    <%= f.label :postal_code, class:"form-label" %><br />
    <%= f.number_field :postal_code, id:"postal_code", class:"form-control"%>
    <p id="postal_code_error" style="color: red; display: none;">Please enter postal code </p>
  </div>

  <div class="mb-3">
    <%= f.label :phone_number, class:"form-label" %><br />
    <%= f.number_field :phone_number, id:"phone_number", class:"form-control"%>
    <p id="phone_number_error" style="color: red; display: none;">Please enter phone number </p>
  </div>

  <div class="mb-3">
    <%= f.label :mobile_number, class:"form-label" %><br />
    <%= f.number_field :mobile_number, id:"mobile_number", class:"form-control"%>
    <p id="mobile_number_error" style="color: red; display: none;">Please enter mobile number </p>
  </div>
  
  <div class="mb-3">
    <div class="form-check">
      <%= f.radio_button :gender, "Male", class:"form-check-input", type:"radio" %>
      <%= f.label :gender_male, "Male", class:"form-check-label" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :gender, "Female", class:"form-check-input", type:"radio" %>
      <%= f.label :gender_female, "Female", class:"form-check-label" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", id:"signupbtn", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
