<%= render 'shared/errors', obj:@article %>

<%= form_with(model:@article, local: true, data: { turbo: false }) do |f| %>
  <p>
    <%= f.label :title%>
    <br>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :body%>
    <br>
    <%= f.text_area(:body, size: '80x10') %>
  </p>

  <p>
    <%= f.label :image%>
    <br>
    <%= f.file_field :image, onchange:"loadFile(event)"%>
  </p>

  <%= image_tag 'default.png', id:"output", style:'display: none;', height:'150', width:'150'%>
  
  <p>
    <%= label_tag(:pdf, "Insert pdf file") %>
    <br>
    <%= f.file_field :pdf%>
  </p>
  <br>
  
  <p>
    <%= f.submit class:"btn btn-primary"%>
  </p>
<% end %>

<%# preview image before submit form data %>
<script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('output');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
    $('#output').show();
  };
</script>
