<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"emailfield", class:"form-control" %>
    <%= f.label "Please enter email", id:"emailerror", style:"color: red; display: none;"%>
  </div>

  <div class="mb-3">
    <%= f.label :password, class:"form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", id:"passfield", class:"form-control" %>
    <%= f.label "Please enter password", id:"passerror", style:"color: red; display: none;"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary", id:"sign_in_btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
